@charset "utf-8";

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */


/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}


/* Force scrollbar */

html {
    overflow-y: scroll;
}


/* Align radios and text inputs with their label */

input[type='radio'] {
    vertical-align: text-bottom;
}


/* Hand cursor on clickable input elements */

label,
input[type='button'],
input[type='submit'],
button {
    cursor: pointer;
}

strong {
    font-weight: bold;
    font-family: inherit;
    font-size: inherit;
}

em {
    font-style: italic;
}

img {
    width: 100%;
    border: 0;
    vertical-align: middle;
}

sub,
sup {
    vertical-align: baseline;
    position: relative;
    font-size: 55%;
    line-height: 0;
}

sup {
    top: -.7em;
}

sub {
    bottom: -.25em;
}


/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
    display: table;
    content: " ";
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}


/*for all*/

body {
    box-sizing: border-box;
    font-family: sans-serif;
}

a {
    display: inline-block;
    text-decoration: none;
}

li {
    display: inline-block;
    list-style-type: none;
}


/*for wrapper*/

.wrapper {
    max-width: 1360px;
    width: 86%;
    margin: 0 auto;
}


/*=================================
  Header styling starts here
=================================*/

header h1 {
    display: inline-block;
    text-transform: uppercase;
    text-shadow: white 1px 1px;
    font-size: x-large;
    margin: 15px 0px;
    color: white;
}

nav {
    float: right;
}

nav li {
    margin: 10px 12px;
}

nav li a {
    padding: 10px;
    color: white;
}

nav li a:hover {
    background-color: white;
    color: black;
}

.bg-dark {
    position: fixed;
    width: 100%;
    background-color: rgb(53, 50, 50);
}


/* ----------------bg-img section---------------*/

.align-center {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.align-center h2 {
    font-size: 500%;
    color: white;
    text-shadow: black 1px 1px;
    margin: 5px 5px 12px;
}

.align-center p {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    color: white;
}

.bg-img {
    background-image: url("/assets/img/img_mountains_wide.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
    height: 500px;
    display: table;
    width: 100%;
}

.btn {
    margin: 10px 10px;
    border-radius: 10px;
    padding: 15px;
    border: none;
    font-size: larger;
}

.btn-green {
    background-color: #46a049;
}

.btn-green:hover {
    background-color: lightblue;
}


/*=================================
  Header styling ends here
=================================*/


/*=================================
  main styling starts here
=================================*/


/* -------------------MAIN section--------------- */

main {
    background-color: whitesmoke;
}


/* ----------welcome section------------ */

.welcome {
    padding-top: 50px;
    display: table;
}

.welcome .col-2 {
    display: table-cell;
    width: 49%;
    vertical-align: top;
}

.col-2 h3 {
    font-size: xx-large;
    margin: 15px 0px;
    font-weight: bolder;
}

.col-2 h3 span {
    color: #328b09;
}

.col-2 h3::after {
    content: '';
    position: relative;
    display: block;
    width: 50px;
    height: 5px;
    background: #328b09;
    margin-top: 10px;
    margin-bottom: 10px;
    left: calc(50% - 225px);
}

.col-2 p {
    line-height: 28px;
}

.col-2 .row {
    margin: 10px 0px;
}

.col-2 figure {
    padding: 20px;
}

.col-2 figure figcaption {
    font-size: x-large;
    font-weight: bold;
    margin: 10px 0px;
}


/* --------------service section--------------- */

.bg-green {
    background-color: rgb(115, 156, 32);
    padding-top: 20px;
}

.services {
    text-align: center;
    color: white;
}

.services h3 {
    font-size: xx-large;
    margin: 50px 0px;
    font-weight: bold;
}

.services p {
    margin: 0px 20px;
}

.services h3::after {
    content: '';
    position: relative;
    display: block;
    width: 50px;
    height: 5px;
    background: white;
    margin-top: 10px;
    margin-bottom: 10px;
    left: calc(50% - 25px);
}

.services .row {
    padding-bottom: 100px;
}

.services .row .col-4 {
    display: inline-block;
    width: 24%;
}

.row .col-4 figcaption {
    font-size: x-large;
    margin: 15px 0px;
}

.col-4 figure {
    padding: 32px 32px 0px;
}

.col-4 figure img {
    border-radius: 50%;
    border: solid rgb(183, 241, 125) 10px;
}

.col-4 figure p {
    padding: 0px 20px;
}

.project {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 75px;
}

.project h3 {
    font-size: xx-large;
    font-weight: bold;
    margin: 15px 15px 50px;
}

.project p {
    margin: 30px 0px;
}

.project h3::after {
    content: '';
    position: relative;
    display: block;
    width: 50px;
    height: 5px;
    background: #328b09;
    margin-top: 10px;
    margin-bottom: 10px;
    left: calc(50% - 25px);
}

.project ul li a {
    color: aliceblue;
    font-size: larger;
    padding: 20px;
    background-color: gray;
    margin: 10px 0px;
}

.project ul li a:hover {
    color: black;
    background-color: #328b09;
}

* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 25%;
}

.column img {
    padding: 10px;
}

.img-row:after {
    content: "";
    display: table;
    clear: both;
}


/* ----------testimonials---------------- */

.bg-testimonial-img {
    background-image: linear-gradient(0deg, rgba(143, 168, 31, 0.712), rgba(143, 197, 55, 0.671)), url("/assets/img/img_mountains_wide.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 30px 0px;
    color: white;
    text-align: center;
}

.testimonial h3 {
    font-size: xx-large;
    font-weight: bold;
    margin: 50px 0px;
}

.testimonial h3::after {
    content: '';
    position: relative;
    display: block;
    width: 50px;
    height: 5px;
    background: white;
    margin-top: 10px;
    margin-bottom: 10px;
    left: calc(50% - 25px);
}

.testimonial blockquote {
    line-height: 28px;
}

.testimonial blockquote {
    margin: 30px 20px;
}

.icon::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.circle::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f111";
    margin: 20px 5px 20px;
    cursor: pointer;
}


/* --------------------Contact us---------------- */

.contact {
    padding: 50px 0px;
    text-align: center;
}

.contact h3 {
    font-size: xx-large;
    font-weight: bold;
    margin: 30px 0px;
}

.contact h3::after {
    content: '';
    position: relative;
    display: block;
    width: 50px;
    height: 5px;
    background: #328b09;
    margin-top: 10px;
    margin-bottom: 10px;
    left: calc(50% - 25px);
}

.contact h3~p {
    margin: 30px 0px;
}

.contact .row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 80px 0px 80px;
}

.col-3 h4 {
    font-size: x-large;
    font-weight: bold;
    margin: 15px 0px;
    text-transform: uppercase;
}

.col-3 h4::after {
    content: '';
    position: relative;
    display: block;
    width: 50px;
    height: 5px;
    background: gray;
    margin-top: 10px;
    margin-bottom: 10px;
    left: calc(50% - 25px);
}

.col-3 p {
    line-height: 28px;
}

.message h4 {
    font-size: x-large;
    font-weight: bold;
    text-transform: uppercase;
    margin: 30px 0px 20px;
}

.message form .name,
.email {
    display: inline-block;
    width: 49%;
    margin: 0 auto;
    padding: 15px 0px;
    margin: 20px 5px;
}

.message form textarea {
    display: block;
    width: 99%;
    margin: 0 auto 20px;
}


/*=================================
  main styling ends here
=================================*/


/*=================================
  footer styling starts here
=================================*/

footer {
    padding-bottom: 20px;
    background-color: rgb(53, 50, 50);
    text-align: center;
}

.footer li {
    margin: 0px 18px;
}

.footer li a {
    margin: 20px 0px;
    background-color: rgb(97, 91, 91);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    text-align: center;
    padding: 18px;
}

.footer li a:hover {
    background-color: whitesmoke;
}

.footer p {
    margin: 20px 0px;
    color: rgb(199, 197, 197);
}

.footer .dark {
    color: aliceblue;
    text-shadow: aliceblue 0.5px 0.5px;
}

.facebook::before {
    font-family: "Font Awesome 5 Brands";
    /* font-weight: 900; */
    content: "\f39e";
    color: green;
    font-size: x-large;
    /* margin: 20px 22px 20px; */
    cursor: pointer;
}

.twitter::before {
    font-family: "Font Awesome 5 Brands";
    /* font-weight: 900; */
    content: "\f099";
    color: green;
    font-size: x-large;
    /* margin: 20px 22px 20px; */
    cursor: pointer;
}

.gplus::before {
    font-family: "Font Awesome 5 Brands";
    /* font-weight: 900; */
    content: "\f0d5";
    color: green;
    font-size: x-large;
    /* margin: 20px 22px 20px; */
    cursor: pointer;
}


/*=================================
  footer styling ends here
=================================*/


/*media query starts*/


/*media query for 995px starts here*/

@media only screen and (max-width: 1080px) {
    .message form .name,
    .email {
        width: 99%;
    }
}

@media only screen and (max-width: 995px) {}